{% extends "layout.html" %}
{% block content %}

<div class="row">
	<div class="col-md-offset-2 col-md-4 text-right">
		<br/>
		<br/>
		<br/>
		<br/>	
		<br/>
		<br/>
		<span class="bio">
			<p>My name is Jason Perelshteyn. </p>
			<br/>
			<p>An experienced full-stack developer and quantitative social science researcher, I am passionate about finding creative ways of getting to data no matter where it hides and getting it clean it no matter how dirty it is.</p>
			<br/>
			<p>I love designing data-driven applications that use machine learning to enrich user experience and maximize efficiency.</p>
		</span>
	</div>
	<div class="col-md-6">
		<img src="../static/img/me.png" class="img-rounded img-responsive"></img>
	</div>
</div>
<hr/>
<div class="row text-center about-links">
	<div class="col-md-3">
		<a href="mailto:j.b.shteyn@gmail.com">email</a>
	</div>
	<div class="col-md-3">
		<a target="_blank" href="https://github.com/jperelshteyn">github</a>
	</div>
	<div class="col-md-3">
		<a target="_blank" href="https://www.linkedin.com/in/jason-perelshteyn-56563029">linkedin</a>
	</div>
	<div class="col-md-3">
		<a target="_blank" href="../static/files/Resume.pdf?q=2">resume</a>
	</div>
</div>

{% endblock %}
