<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css" />
    <link rel="stylesheet" href="/static/css/main.css?q=1280549780"
   type="text/css" media="screen" charset="utf-8" />
    <title>Metis Projects</title>
</head>
<body>
<div class="pure-g">
    <div class="sidebar pure-u-1-5" style="background-color: lightgray;">
        <div class="header">
        <h1 class="brand-title" style="text-align: right;">
            METIS PROJECTS
        </h1>
            </div>
    <div class="pure-menu custom-restricted-width">
    <ul class="pure-menu-list" style="text-align: right;">
        <li class="pure-menu-item"><a class="pure-menu-link" href="{{url_for('mta') }}">MTA</a></li>
        <li class="pure-menu-item"><a class="pure-menu-link" href="{{url_for('movies') }}">Movies</a></li>
    </ul>
        </div>
        </div>
    <div class="content pure-u-4-5">
        <div style="padding-left: 3em;">
    {% block content %}
    {% endblock %}
            </div>
    </div>
</body>
</html>