<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="http://d3js.org/d3.v3.min.js"></script>
   <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" integrity="sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ==" crossorigin="anonymous"></script>
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">
    <script>window.jQuery || document.write('<script src="{{
  url_for('static', filename='jquery-1.11.3.min.js') }}">\x3C/script>')</script>
    <script src="../static/typeahead.bundle.js"></script>
  <script type=text/javascript>
  $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
</script>
    <link rel="stylesheet" href="/static/css/main.css?q=54"
   type="text/css" media="screen" charset="utf-8" />
</head>
<body>
<nav class="navbar navbar-inverse navbar-static-top">
    <div class="row">
        <div class="col-md-2">
            <div class="navbar-header">
                <img src="../static/img/logo-dark.png" class="img-responsive"></img>
               <!--  <img src="../static/img/metis_logo_white_horiz.png" class="img-responsive"></img> -->
            </div>
        </div>
        <div class="col-md-10">
            <ul class="nav navbar-nav">
                <li><a href="{{url_for('about') }}">about</a></li>
                <li><a href="{{url_for('projects') }}">projects</a></li>
            </ul>
        </div>
    </div>
</nav>

<script>
var descriptions = {
    'recipes' : ['The app lets user search for recipes and sort those recipes by how close they are to a music genre. Sorting is done by counting number of adjectives that are associated with both the recipe and the music genre.',
            'To search for recipes, enter ingredients and/or dish name, and press search.',
            'Select music genre to sort - the closest matched recipe is in the upper left.',
            'Clicking "show words" will display the adjectives that matched recipe to the genre.'],
    'twitter' : ['The app lets user select a headline then using a light NLP algorithm figures out which words from the headline are best suited to query twitter.',
            'The search terms can be edited.',
            'The tweets in the results of the query are passed through sentiment analysis tool. The per hour averages of the sentiment scores are displayed in a line graph.']
    };

    function displayModal(typeId, title, text) {
        $.each( descriptions, function( appName, description ) {
                if (appName==typeId) {
                    title = 'app description';
                    text = '<p>' + description.join('</p><p>') + '</p>';
                }
          });
        if (title) {$('#myModal .modal-title').text(title);}
        if (text) {$('#myModal .modal-body').html(text);}
        $("#myModal").modal();
        return false;
    }

</script>




<div id="content" class="fluid-container">

    {% block content %}
    {% endblock %}


    </div>

<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">app description</h4>
      </div>
      <div class="modal-body"></div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>
</body>
</html>