{% extends "layout.html" %}
{% block content %}




<script src="../static/js/marquee.js"></script>
<script type=text/javascript>

  globalData = [];

  function showWaiting(show){
    if (show){
        $('#divWaiting').show();
    } else {
        $('#divWaiting').hide();
    }
    
  }

  function dateSelected() {
      var selectedDate = $("#ddlDates option:selected").val();
      if (selectedDate != '0'){

        $('#no-tweets').hide();
        $("#divQuery").hide();
        var ddlHeadlines = $("#ddlHeadlines");

        $.getJSON($SCRIPT_ROOT + '/_ddlDates_handler', {
            date: selectedDate
        }, function(data) {
            ddlHeadlines.html('');

            $.each(data.headlines, function(key, val){
                ddlHeadlines.append('<option value="' + val.id + '">' + val.text + '</option>')
            })
        });

      }
    }
 

  $(function() {
    $('#btnGetSargs').bind('click', function() {
      $("#divD3").hide();
      showWaiting(true);
      $.getJSON($SCRIPT_ROOT + '/_btnGetSargs_handler', {
        id: $("#ddlHeadlines option:selected").val(),
        text: $("#ddlHeadlines option:selected").text()
      }, function(data) {
        $("#divQuery").show();
        $("#txtSargs").val(data.result);
        showWaiting(false);
      });
      return false;
    });
  });

  $(function() {
    $('#btnQuery').bind('click', function() {
      showWaiting(true);
      $('#no-tweets').hide();
      $.getJSON($SCRIPT_ROOT + '/_btnQuery_handler', {
        id: $("#ddlHeadlines option:selected").val(),
        text: $("#txtSargs").val(),
        headline: $("#ddlHeadlines option:selected").text()
      }, function(data) {
        showWaiting(false);
        if (data.result){
            globalData = data.result;
            $("#tweet-count").text("(" + data.tweet_count + " tweets analyzed)")
            makeGraph(data.result, data.headline_score, data.scale);
        } else {
            $('#no-tweets').show();
        }
      });
      return false;
    });
  });  

  // ---------------------- D3 ------------------------//
  function makeGraph(data, headline_score, scale){

    $("#divD3").show();
    $("#d3-canvas").empty();

    var hasNegSentiment = Math.min.apply(Math, data.map(function(d){return d.sentiment;})) < 0;
    var minX = Math.min.apply(Math, data.map(function(d){return d.time;}))

    // Set the dimensions of the canvas / graph
    var totalWidth = Math.max($("#d3-canvas").width(), 500);
    var sideMargin = totalWidth * .05;
    var margin = {top: 30, right: sideMargin, bottom: 30, left: sideMargin},
        width = totalWidth - margin.left - margin.right,
        height = 400 - margin.top - margin.bottom;

    
    // Set the ranges
    var x = d3.scale.linear().range([0, width]);
    var y = d3.scale.linear().range([height, 0]);

    // Define the axes
    var xAxis = d3.svg.axis().scale(x).orient("bottom").ticks(10);

    var yAxis = d3.svg.axis().scale(y).orient("left").ticks(5);


    // Define the line
    var valueline = d3.svg.line()
        .x(function(d) { return x(d.time); })
        .y(function(d) { return y(d.sentiment); });

    // Adds the svg canvas
    var svg = d3.select("#d3-canvas")
        .append("svg")
            .attr("width", width + margin.left + margin.right)
            .attr("height", height + margin.top + margin.bottom)
            .attr("id", "graph")
        .append("g")
            .attr("transform", "translate(" + margin.left + "," + margin.top + ")");

    // Derive coordinates for headline score
    //var headline_score_y = y(headline_score);

    // Scale the range of the data (include headline sentiment score)
    var sentiments = $.map(data, function(val, i) {return val.sentiment; });
    sentiments.push(headline_score);
    x.domain(d3.extent(data, function(d) { return d.time; }));
    y.domain(d3.extent(sentiments, function(d) { return d; }));

    // Adjust graph title
    $('#graph-title').text('average twitter sentiment since news hit (by ' + scale.slice(0, -1) + ')');

    // Add the valueline path.
    svg.append("path")
        .attr("class", "line")
        .attr("d", valueline(data));

    // Add line points
    svg.selectAll("circle")
        .data(data)
      .enter().append("circle")
        .attr("cx", function(d) {return x(d.time); })
        .attr("cy", function(d) {return y(d.sentiment); })
        .attr("r", 5)
        .classed("point-blue", true)
        .attr("onclick", 
            function(d) { 
                // svg.selectAll("circle")
                //     .classed('point-highlight-stay', false);
                // d3.select(this)
                //     .classed('point-highlight-stay', true);
                //$(this).removeClass('point-highlight-stay'); });
                //$(this).addClass('point-highlight-stay');
                return "showTweets(this,"+d.time+",'"+scale+"');"; 
            });
        // .on('mouseover', function(){ 
        //                     d3.select(this)
        //                         .classed('point-highlight', true); })
        // .on('mouseout', function(){ 
        //                     d3.select(this)
        //                         .classed('point-highlight', false); })
        

    // Add the X Axis
    svg.append("g")
        .attr("class", "x axis")
        .attr("transform", "translate(0," + height + ")")
        .call(xAxis);

    // Add the Y Axis
    svg.append("g")
        .attr("class", "y axis")
        .call(yAxis);

    svg.append("text")
        .attr("class", "x label")
        .attr("text-anchor", "end")
        .attr("x", width)
        .attr("y", height + ((headline_score==0) ? 9 : -6))
        .text(scale + " since the news");

    svg.append("text")
        .attr("class", "y label")
        .attr("text-anchor", "end")
        .attr("y", 6)
        .attr("dy", "1em")
        .attr("transform", "rotate(-90)")
        .text("sentiment");

    svg.append("line")
        .attr("x1", x(minX))
        .attr("y1", y(headline_score))
        .attr("x2", width)
        .attr("y2", y(headline_score))
        .attr("stroke-width", 2)
        .attr("stroke", "maroon")
        .attr("stroke-dasharray", "10,10");

    svg.append("text")
        .attr("x", width - 100)
        .attr("y", y(headline_score) - 5)
        .attr("class", "x label")
        .text("headline sentiment")
        .attr("fill", "maroon");

    if (hasNegSentiment){
        svg.append("line")
            .attr("x1", x(minX))
            .attr("y1", y(0))
            .attr("x2", width)
            .attr("y2", y(0))
            .attr("stroke-width", 1)
            .attr("stroke", "grey");
    }
  }

  function showTweets(sender, time, scale){

    var d = $.grep(globalData, function(d){ return d.time == time; });
    var tweets = '<p>' + d[0].tweets.join('</p><br/><p>') + '</p>';

    // $('circle').removeClass('point-highlight');
    // $(sender).addClass('point-highlight');
    d3.selectAll('circle').classed('point-highlight', false);
    d3.select(sender).classed('point-highlight', true);

    $('#scroll-container').empty();

    $('#scroll-container').append(
        $('<h4></h4').text(time+' '+scale+' since the headline'));

    $('#scroll-container').append(
        $('<marquee></marquee>')
            .attr('direction', 'up')
            .attr('id', 'tweet-scroll')
            .attr('height', '300px')
            .html(tweets)
    );


  }

</script>

<div class="row">
    <div class="col-md-2">
        <div class="project-description">
            <div class="search-header">
                <span>about: </span>
            </div>
            <br/>
            <ul class="list-unstyled">
                <li>
                    <a onclick="displayModal('twitter')" href="#">description</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="col-md-5 verticalLine">
        <div class="search-header">
            <span>select headline: </span>
        </div>
        <br/>
        <div class="row">
            <div class="col-md-4">
                <select id="ddlDates" class="form-control" onchange="dateSelected();">
                    <option class="default" value="0"> < choose date > </option>
                    {% for d in dates %}
                        <option value="{{ d.value }}">{{ d.text }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="col-md-8">
                <select id="ddlHeadlines" class="form-control">
                </select>
            </div>
        </div>
        <br/>
        <div class="row">
            <div class="col-md-offset-7 col-md-4">
                <input id="btnGetSargs" type="submit" value="Extract Search Terms" class="btn btn-default" />
            </div>
        </div>
    </div>
    <div class="col-md-5 verticalLine" id="divQuery" style="display: none">
        <div class="search-header">
            <span>search twitter: </span>
        </div>
        <br/>
        <div class="row">
            <div class="col-md-11">
                <input type="text" id="txtSargs" class="form-control"/>
            </div>
        </div>
        <br/>
        <div class="row">
            <div class="col-md-offset-8 col-md-4">
                <input id="btnQuery" type="submit" value="Search" class="btn btn-default"/>
            </div>
        </div>
    </div>

</div>

<hr/>

<h4 id="no-tweets" style="display: none">No tweets since the headline matched the search</h4>
<div id="divD3" style="display: none">
    <div class="row">
        <div class="col-md-offset-1 col-md-11">
            <h3 id="graph-title"></h3>
            <h5 id="tweet-count"></h5>
        </div>    
    </div>
    <div class="row">
        <div class="col-md-10" id="d3-canvas"></div>
        <div id="scroll-container" class="col-md-2" style="height: 400px;">
        </div>
    </div>
</div>
<div id="divWaiting" class="content-center" style="display: none">
    <img src="../static/img/waiting.gif" id="imgWaiting"></img>
</div>



{% endblock %}